@tailwind base;
@tailwind components;
@tailwind utilities;
@import './theme.css';

/* Create a rule to use with ConnectKit's `customTheme` prop */
@font-face {
  font-family: 'Satoshi';
  src: url('../fonts/Satoshi-Regular.woff2') format('woff2');
}

/* Set the padding, margin, and text color properties for both the html and body elements */
html,
body {
  padding: 0;
  margin: 0;
}

header {
  height: var(--header-height);
}

main {
  min-height: calc(100vh - var(--header-height));
  padding-bottom: var(--header-height);
}