@tailwind base;
@tailwind components;
@tailwind utilities;
@import './theme.css';

/* Create a rule to use with ConnectKit's `customTheme` prop */
@font-face {
  font-family: 'Satoshi';
  src: url('../fonts/Satoshi-Regular.woff2') format('woff2');
}

/* Set the padding, margin, and text color properties for both the html and body elements */
html,
body {
  padding: 0;
  margin: 0;
  color: #ffffff;
}

a {
  color: #cdf15e;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

header {
  height: var(--header-height);
}

main {
  min-height: calc(100vh - var(--header-height));
  padding-bottom: var(--header-height);
}

/* UTILS */
.raw-displayer > code,
.raw-displayer > code > pre,
.markdown-wrapper > code {
  font-family: 'SFMono-Regular', Consolas, Liberation Mono, Menlo, monospace !important;
  line-height: 1.25;
  font-size: 12px;
}

.markdown-wrapper p > code,
.markdown-wrapper li > code,
.markdown-wrapper pre {
  @apply rounded-[5px] bg-[#2E2F31] px-[7px] py-[5px] text-left text-sm;
}

.markdown-wrapper h1 {
  @apply text-2xl;
}

.markdown-wrapper h2 {
  @apply text-xl;
}

.markdown-wrapper h3,
h4,
h5,
h6 {
  @apply text-lg;
}

.markdown-wrapper p {
  @apply text-base;
}

.markdown-wrapper ul {
  list-style-type: disc;
  padding-left: 20px;
}

.markdown-wrapper ol {
  list-style-type: decimal;
  padding-left: 20px;
}

.markdown-wrapper li {
  display: list-item;
  text-align: -webkit-match-parent;
}

.markdown-wrapper a {
  text-decoration: underline;
}

article {
  @apply markdown-wrapper flex flex-col gap-4 max-w-[960px] m-auto p-4;
}

.shadow {
  filter: drop-shadow(10px 10px 4px #4444dd);
}
